* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:  #eee
}

i {
    transition: color .2s;
    cursor: pointer;
}


/* LAYOUT */
.main-layout {
    max-width: 85vw;
    margin: 0 auto;
}


/* nav-bar */

.navbar {
    background-color:#303F9F;

}

.nav-container {
    margin-bottom: 20px;
    align-items: center;
}

.navbar input {
    padding: 5px;
}

.navbar button {
    font-size: 18px;
}

.navbar .btn-go {
    position: relative;
    top: 1.3px;
    padding: 2.5px 15px;
    text-transform: uppercase;
}

.navbar .btn-curr-loc {
    padding: 2.5px 5px;
    margin-left: 5px;
}

.nav-heading {
    color: #eee;
    font-size: 45px;
    padding: 10px 0;
    flex-grow: 2;
}


/* location info */

.info-section {
    margin-bottom: 2.5rem;
}

.info-section p {
    flex-grow: 2;
    font-size: 25px;
    font-weight: 700;
}

.info-section button {
    padding: 5px 10px;
}

.info-section .btn-copy-loc {
    margin-left: 10px;
}


/* main section */

.main-section {
    height: 100%;
}

.main-section>div {
    flex-basis: 50%;
}

.main-section .location-info {
    flex-direction: column;
    height: 100%;
}

.main-section .location-info>div {
    height: 200px;
}

.main-section .location-info .weather {
    background-color: whitesmoke;
}

.main-section .location-info .user-locations {
    background-color: #C5CAE9;
    height: auto;
}

.user-locations .locations-heading {
    font-size: 24px;
    font-weight: 600px;
    margin-left: 3px;
    text-decoration: underline;
}

.main-section #map {
    flex-basis: 70%;
    margin-left: 1.25rem;
}

.main-section .locations-list li {
    margin-left: 3px;
}

.main-section .locations-list li:first-child {
    margin-top: 8px;
}

.main-section .locations-list li:not(:last-child){
    margin-bottom: 5px;
}

.main-section .locations-list li p {
    flex-grow: 2;
    font-size: 22px;
    
}

.main-section .locations-list i {
    font-size: 24px;
}

.main-section .locations-list .go-to-btn:hover {
    color: rgb(20, 194, 20);
}

.main-section .locations-list .delete-location-btn {
    margin-left: 8px;
    margin-right: 5px;
}

.main-section .locations-list .delete-location-btn:hover {
    color: red;
}


/* buttons */

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    background-color:#757575;
    border: none;
    cursor: pointer;
}

input[name="search"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* helpers */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-inline {
    display: inline-flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.clear-list {
    list-style-type: none;
}

.animate-btn {
    animation: jump 1s;
}

@keyframes jump {
    0% {transform: scale(1.1,.9);}
   50% {transform: scale(.9,1.1) translateY(-.3rem)}
   70% {transform: scale(1);}
}