* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: lightsalmon;
}


/* healpers */

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}


/* nav-bar */

.nav-heading {
    flex-grow: 2;
}


/* location info */

.info-section p {
    flex-grow: 2;
}


/* main section */

.main-section {
    height: 100%;
}

.main-section>div {
    flex-basis: 50%;
}

.main-section .location-info {
    flex-direction: column;
    height: 100%;
}

.main-section .location-info>div {
    height: 200px;
    border: 1px solid lightblue;
}

.main-section .location-info .weather {
    background-color: whitesmoke;
}

.main-section .location-info .user-locations {
    background-color: lightblue;
}


/* buttons */

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name="search"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}