* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    background-color: lightcyan
}



/* nav-bar */

.nav-bar {
    background-color: #16b9b9;
    box-shadow: 5px 2px 5px #000000;
    margin-bottom: 20px;
}

.nav-heading {
    flex-grow: 2;
}


/* location info */

.info-section p {
    flex-grow: 2;
}


/* main section */

.main-section {
    height: 100%;
}

.main-section>div {
    flex-basis: 50%;
}

.main-section .location-info {
    flex-direction: column;
    height: 100%;
}

.main-section .location-info>div {
    height: 200px;
    border: 1px solid lightblue;
}

.main-section .location-info .weather {
    background-color: whitesmoke;
}

.main-section .location-info .user-locations {
    background-color: lightblue;
}


/* buttons */

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name="search"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* healpers */

.flex {
    display: flex;
}

.flex-inline {
    display: inline-flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.clear-list {
    list-style-type: none;
}